* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  color: white;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 60%;
}

header ul {
  display: flex;
  justify-content: space-around;
}

article {
  color: black;
  font-size: 1rem;
}

a:visited {
  color: white;
}

label {
  text-align: justify;
  font-size: 1.7rem;
  padding: auto;
  border-radius: 0.3px;
  background-color: rgba(10, 17, 46, 0.675);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  header, a, nav {
    font-size: 1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .nave header ul {
    justify-content: space-between;
    align-self: center;
  }
}
.headersito {
  display: flex;
  text-decoration: none;
}

a:visited {
  color: white;
}

.footerborder {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 0 20px;
  margin-top: auto;
}

footer h3 {
  color: white;
  font-size: medium;
  justify-content: space-between;
}

.footerborder2 {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  padding: 0 20px;
  margin-top: auto;
}

.contenedorfooter h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  color: #ccc;
}

.footer-widget p {
  margin-bottom: 27px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}
@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}
.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #F5B02E;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}
@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2;
}

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff;
}

.dk-footer-box-info {
  position: absolute;
  top: -50px;
  background: #202020;
  padding: 40px;
  z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #B7242A;
}

.footer-awarad {
  margin-top: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-info-text {
  margin: 26px 0 32px;
  color: rgb(179, 179, 179);
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
}

.dk-footer-form button:hover {
  cursor: pointer;
}

/* ==========================

    Contacto

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  margin-left: 75px;
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742;
}

p {
  color: rgb(179, 179, 179);
}

.form1 {
  padding: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 550px) {
  .form1 {
    font-size-adjust: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .form1 label {
    font-size: medium;
  }
}
.homeboton:visited {
  color: white;
}

.btn {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
}

.btn:hover {
  border: 2px solid rgb(70, 70, 70);
  background-color: rgb(160, 160, 160);
  color: rgb(0, 0, 0);
}

.tarjeta {
  border: 2px solid black;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tarjeta__title {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tarjeta__img {
  width: 10rem;
  height: 10rem;
  border-radius: 5%;
  margin: 0;
  position: relative;
  overflow: auto;
  background-size: cover;
  background-position: center center;
  padding: auto;
}

@media screen and (max-width: 600px) {
  .tarjeta__img {
    width: 210px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.tarjeta_img {
  width: 250px;
  height: 200px;
  border-radius: 5%;
  margin: 0rem;
  position: auto;
  overflow: auto;
  background-size: cover;
  background-position: center center;
  padding: 0rem;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .tarjeta_img {
    width: 150px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
  }
}
.portada {
  background-image: url(../img/portada-webe.jpg);
  background-position: center;
  background-size: cover;
  height: 105vh;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.portada__texto {
  text-align: start;
  font-size: 30%;
  padding: 1rem;
  margin-top: none;
  border-radius: 10px;
  overflow-y: visible;
  background-color: rgba(0, 0, 0, 0.675);
  color: white;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .portada__texto h1, h2 {
    font-size: 1.3rem;
    font-size-adjust: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.portada_texto_home {
  width: auto;
  height: auto;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(10, 17, 46, 0.675);
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .portada_texto_home h3, p {
    font-size: 1.3rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .videoyt {
    width: 240px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.contacto1 {
  margin-bottom: 20px;
}

.portada_texto_contacto {
  text-align: start;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  overflow-y: visible;
  background-color: rgba(0, 0, 0, 0.675);
  color: white;
  height: auto;
  width: auto;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 550px) {
  .portada_texto_contacto {
    font-size: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
}
.portada_mono3 {
  background-image: url(../img/portada-webe.jpg);
  background-position: top;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .portada_mono3 {
    font-size: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
  }
}
.portada_texto_nosotros {
  text-align: start;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  overflow-y: visible;
  background-color: rgba(0, 0, 0, 0.675);
  color: white;
  height: auto;
  width: auto;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
}

@media screen and (max-width: 800px) {
  .portada_texto_nosotros {
    font-size: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
}
img {
  width: 300px;
}

.portada_mono {
  background-image: url(../img/portada-webe.jpg);
  background-position: top;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.portada_mono2 div {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.column {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 60%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 10px;
}

@media (max-width: 670px) {
  .column {
    display: flex;
    flex: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 1600px) {
  .column {
    flex: 50%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.productos__title {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 15px;
  text-align: center;
  font-size: 2rem;
}

.slider {
  padding: 15px;
  display: flex;
  gap: 20px;
  overflow: auto;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  background-color: 0, 0, 0;
}

/*# sourceMappingURL=styles.css.map */
