
@import "utils/variables";
@import "base/reset";

@import "layout/header";
@import "layout/footer";
@import "layout/forms";

@import "components/botones";
@import "components/tarjetas";


@import "pages/index";
@import "pages/contacto";
@import "pages/nosotros";
@import "pages/galeria";
@import "pages/productos";




ul {
    list-style: none;
  }
  
li a {
    text-decoration: none;
    background-color: (0, 0, 0);
  
  }
  